@charset "utf-8";


/* based upon https://github.com/alakise/bulma-floating-button */

.button.is-floating {
  position: fixed;
  /* width: 60px;
  height: 60px; */
  bottom: 20px;
  right: 20px;
  /* border-radius: 100px; */
  text-align: center;
  font-size: 1.6rem;
  /* box-shadow: 0 0.0625em 0.125em rgba(10, 10, 10, 0.05); */
  z-index: 3;
}
/* .button.is-floating.is-large {
  width: 90px;
  height: 90px;
  font-size: 2.6rem;
}
.button.is-floating.is-medium {
  width: 75px;
  height: 75px;
  font-size: 2.2rem;
}
*/
.button.is-floating.is-small {
  /* width: 45px;
  height: 45px; */
   font-size: .9rem; 
  /* border-radius: 50px; */
} 





/* anchorjs styles */
/*
* Link placement and hover behavior.
*/
.anchorjs-link {
color: #aaa;
}
.anchorjs-link:hover {
color: #ff5231;
}


/* I think this stuff below comes from original tom xxx site */



@import "mysettings.sass";

// get everything, for big css file
@import "bulma-0.9.0/bulma.sass";

// Import only what you need from Bulma
// @import "bulma-0.9.0/sass/utilities/_all.sass";
// @import "bulma-0.9.0/sass/base/_all.sass";
// @import "bulma-0.9.0/sass/elements/button.sass";
// @import "bulma-0.9.0/sass/elements/container.sass";
// @import "bulma-0.9.0/sass/elements/title.sass";
// @import "bulma-0.9.0/sass/form/_all.sass";
// @import "bulma-0.9.0/sass/components/navbar.sass";
// @import "bulma-0.9.0/sass/layout/hero.sass";
// @import "bulma-0.9.0/sass/layout/section.sass";

.content {
  word-break: break-word;
}

.posts {
  margin-top: 10px;

  .post {
    margin-bottom: 15px;
  }
}

.tags-list {
  margin-bottom: 15px;
}

.navbar-brand {
  .navbar-item {
    figure {
      img {
        width: inherit;
      }
    }
  }
}

// Make code a bit smaller on mobile.
@include touch {
  pre {
    font-size: $size-small;
  }
}


.is-medium {
  pre {
    font-size: $size-normal;
  }
}

.no-margin {
  margin-left: 0;
  margin-right: 0;
}









// 7 7 2020 created from tom forbes sass file
// Note - Ruby sass has been discontinued, but you can still clone it from GitHub:
// git clone https://github.com/sass/ruby-sass 114
// cd ruby-sass/bin # need to be in this directory for requires to work
// ./sass-convert file.sass -F sass -T scss


